<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /lab4_php_modular/

	RewriteCond %{REQUEST_FILNAME} !-f
	RewriteCond %{REQUEST_FILNAME} !-d
	RewriteRule ^(.*)$ index.php?mod=$1 [L]
</IfModule>